.movie-card {
    background: #1e1e2f;
    color: #fff;
    border-radius: 12px;
  overflow: hidden;
  width: 220px;
  margin: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.4);
}
.movie-poster {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  padding: 12px;

}
.movie-title{
    font-size:1.1 rem ;
    margin-bottom: 6px;
}
.movie-year {
  font-weight: 400;
  font-size: 0.9rem;
  color: #bbb;
}
.movie-plot{
    font-size: 0.85 rem ;
     margin: 8px 0;
  color: #ddd;
  height: 50px;
   width: 180px;            /* یا هر عرضی که دوست داری */
  white-space: nowrap;     
  overflow: hidden;        
  text-overflow: ellipsis; 

}
.movie-rating {
  font-weight: bold;
  color: #ffcc00;
}