.app {
  min-height: 100vh;
  transition: background 0.3s ease, color 0.3s ease;
}

.app.dark {
  background: #1e1e2f;
  color: #fff;
}

.app.light {
  background: #f2f2f2;
  color: #111;
}

.toggle-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
 justify-content: center;
 margin: 25px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.2s ease;
}

.app.dark .toggle-btn {
  background: #38384a;
  color: #fff;
  
}

.app.light .toggle-btn {
  background: #ddd;
  color: #333;
}

.toggle-btn:hover {
  transform: scale(1.05);
}
